.bg-search {
    background-image: url(../img/bg-img-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.search-form {
    background-color: rgba(33, 40, 66, 0.8);
    height: 380px;
    width: 550px;
    border-radius: 2%;
}

.file {
    visibility: hidden;
    position: absolute;
}

.imageTour {
    width: 475px;
    height: 300px;
}
